.dentrofav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.campofav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 72vh;
    background-color: #ddd6c0;
    margin-top: 10%;
    text-align: left;
    color: #cb932b;
    padding: 0vh 1.2vw 1vh 1.2vw;
}

h2{
    margin-top: 0;
    font-weight: 700;
    font-size: 2.8vh;
}

p{
    margin: 1vh 0;
    font-size: 2vh;
}

.selectfav{
    padding-top: 2%;
    background: none;
    border: 0;
    font-family: 'Playfair Display';
    border-bottom: 2px solid #cb932b;
    font-size: 2.5vh;
    width: 100%;
    color: #cb932b;
    font-style: italic;
    margin-bottom: 4vh;
}

option:hover{
    background-color: #cb932b;
}

option{
    background-color: #ddd6c0;
}


@media screen and (max-width: 1024px){
    .campofav{
    width: 76vw;
    margin-top: 8vh;
    padding: 0 5vw ;
}
}