.dentrofinal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.polaroid{
    max-height: 16vh;
    margin-top: 3vh;
    opacity: 0;
    animation: polaroidEnter 1.5s ease-out forwards;
}

.polaroid1{
    animation-delay: 0.5s;
    transform: translateX(0.5vw) rotate(6deg);
}

.polaroid2{
    animation-delay: 1s;
    transform: translate(6.5vw, -2vh) rotate(-4deg);
}

.polaroid3{
    animation-delay: 1.5s;
    transform: translate(0vw, -4vh)rotate(-2deg);
}

.polaroid4{
    animation-delay: 2s;
    transform: translate(6vw, -6vh) rotate(8deg);
}

@keyframes cheguei{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes polaroidEnter {
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  60% {
    opacity: 1;
    transform: translateX(-20vw);
  }
  100% {
    opacity: 1;
  }
}

.campofim{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24vw;
    height: 80vh;
    background-image: url("/public/umano/bases/bfundos/jaofinal.png");
    background-size: 160%;
    background-position: 0% 30%;
    text-align: left;
    color: white; 
    animation: cheguei 2s ease-in-out forwards;
}

.campofim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #bfbfbf, transparent); 
    z-index: -1; 
}

.campofim h2{
    margin: 0;
    font-weight: 500;
    font-size: 3vh;
    padding-left: 2%;
    padding-top: 2%;
}

.campofim i{
    color: #8D1023;
    font-weight: 700;
}

.campofim p{
    margin: 0;
    font-size: 2.2vh;
    padding-left: 2%;
    font-weight: 500;
}

.dentropolaroids{
    position: relative;
    width: 100%;
    height: 60vh;
}

@media screen and (max-width: 1024px){
    .campofim{
    width: 100vw;
    height: 100vh;
    padding: 0 2.5vw;
    background-position: 0% 20%;
    }

    .polaroid{
        margin-top: 1vh;
        max-height: 18vh;
    }

    .polaroid1{
        transform: translate(-2vw, 4vh) rotate(6deg);
    }

    .polaroid2{
        transform: translate(28vw, -1vh) rotate(-4deg);
    }

    .polaroid3{
        transform: translate(-1vw, -3vh) rotate(-2deg);
    }

    .polaroid4{
        transform: translate(28vw, -7vh) rotate(8deg);
    }
}