.neve {
  pointer-events: none;
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 20;
}

.flocos {
  position: absolute;
  top: -10vh;
  font-size: 12px;
  color: white;
  animation: caindo linear infinite;
  opacity: 0.9;
}

@keyframes caindo {
  0% {
    transform: translateY(-10vh) translateX(0);
  }
  100% {
    transform: translateY(90vh) translateX(-20px);
    opacity: 0;
  }
}
